@include susy-media($desktop) {
	/**
	 * Header
	 */
	.site-header {
		.site-branding {
			@include span(5 of 12);
		}

		.main-navigation {
			@include span( last 7 of 12);
		}
	}

	h1,
	.heading-size-1,
	h2.entry-title {
		font-size: 6.4rem;
	}
	.container {
		@include clearfix;
		@include container($container-width);
		padding: 0 ms(5);
		box-sizing: content-box;
	}

	.entry-content {
		font-size: 2.1rem;
	}

	.post-meta-wrapper {
		margin-top: 3rem;
	}
}