@include susy-media($desktop) {
	/**
	 * Header
	 */
	.site-header {
		.site-branding {
			@include span(5 of 12);
		}

		.main-navigation {
			@include span( last 7 of 12);
		}
	}

	h1,
	.heading-size-1,
	h2.entry-title {
		font-size: 6.4rem;
	}
	.container {
		@include clearfix;
		@include container($container-width);
		padding: 0 ms(5);
		box-sizing: content-box;
	}

	.entry-content {
		font-size: 2.1rem;
	}

	.post-meta-wrapper {
		margin-top: 3rem;
	}
}

/** End $desktop */
@include susy-media (max-width $handheld) {
	.site-branding {
		width: calc(100% - 5.8rem);

		.site-description {
			display: none;
		}
	}
	.main-navigation {
		.menu-icon {
			display: inline-block;
			margin-top: -4.5rem;
		}

		.primary-navigation {
			display: none;

			.primary-menu {
				float: none;

				.current-menu-item {
					background: #1565c0;
				}

				li {
					display: block;
					width: 100%;
					float: none;
					border-bottom: 1px solid #fff;
					border-left: 0;
					background: #00bfff;
					padding-left: 0;
					padding-right: 0;

					a {
						padding: 0 2rem;
						color: #fff;
					}

					> ul {
						display: block;
						visibility: visible;
						position: relative;
						opacity: 1;

						li {
							border-top: 1px solid #fff;
							padding-left: 2rem;
							a {
								color: #fff;
							}
						}
					}
					&:last-child {
						border: 0;

						ul {
							right: auto;
							left:auto;
						}
					}
				}
			}
		}
		.menu-btn:checked ~ .primary-navigation {
			display: block;
		}
	}
}